{
	"branches": ["version-16"],
	"plugins": [
		[
			"@semantic-release/commit-analyzer", {
				"releaseRules": [
					{"breaking": true, "release": "minor"},
					{"revert": true, "release": "patch"},
					{"type": "feat", "release": "minor"},
					{"type": "patch", "release": "minor"},
					{"type": "fix", "release": "patch"},
					{"type": "perf", "release": "patch"},
					{"type": "refactor", "release": "patch"},
					{"type": "docs", "release": "patch"},
					{"type": "chore", "release": "patch"},
					{"type": "ci", "release": "patch"}
				]
			}
		],
		"@semantic-release/release-notes-generator",
		[
			"@semantic-release/exec", {
				"prepareCmd": "sed -ir -E \"s/\\\"[0-9]+\\.[0-9]+\\.[0-9]+\\\"/\\\"${nextRelease.version}\\\"/\" erpnext_shipping/__init__.py"
			}
		],
		[
			"@semantic-release/git", {
				"assets": ["erpnext_shipping/__init__.py"],
				"message": "chore(release): Bumped to Version ${nextRelease.version}\n\n${nextRelease.notes}"
			}
		],
		"@semantic-release/github"
	]
}
