include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_shipstation *.css
recursive-include erpnext_shipstation *.csv
recursive-include erpnext_shipstation *.html
recursive-include erpnext_shipstation *.ico
recursive-include erpnext_shipstation *.js
recursive-include erpnext_shipstation *.json
recursive-include erpnext_shipstation *.md
recursive-include erpnext_shipstation *.png
recursive-include erpnext_shipstation *.py
recursive-include erpnext_shipstation *.svg
recursive-include erpnext_shipstation *.txt
recursive-exclude erpnext_shipstation *.pyc